<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-6 mx-auto">
      <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
          <div class="name-box text-center" style="width: 200px;" > 
            <%= @child.name %>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ms-auto my-2 mb-lg-0">
              <li class="nav-item">
                <%= link_to t('defaults.list_edit'),"#", class: "btn btn-primary custom-btn mb-2" %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-lg-10 mx-auto text-center ">
      <h6 class=mx-3><%= @list.name %></h6>
      <%= render 'tasks/task', tasks: @tasks, list: @list, child: @child%>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-lg-10 mx-auto">
      <% if @tasks.all? { |task| task.status == "completed" } && @list.incomplete? %>
        <div class= "text-center">
          <%= link_to t('defaults.get_coin'), update_list_and_coin_child_path(@child, list_id: @list.id), data: { turbo_method: :patch }, class: "btn btn-primary custom-btn-2 my-3", role: "button" %>
        </div>
      <% elsif @tasks.all? { |task| task.status == "completed" } && @list.completed? %>
        <div class= "text-center">
          <div class="custom-box-gray mb-2">
            <%= t('defaults.you_got_coin') %>
          </div>
        </div>
      <% end %>
    </div>
    <div class= "text-center">  
      <%= link_to t("defaults.previous_page"), child_path(@child), class: "btn btn-primary custom-btn", role: "button" %>
    </div>
  </div>
</div>
  